<img src="http://www.placehold.it/75x75" /><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
<h4>Supporter</h4>

<%# form_for is built-in view helper to generate a form %>
<%=render "form" %>