<h1>Create a new qequest</h1>
<p></p>
<img src="http://www.placehold.it/75x75" />
<h4>Supporter</h4>

<hr align="left" width=30%><p></p>

<%# form_for is built-in view helper to generate a form %>
<%=render "form" %>